//bring in the normalizer stylesheet to base styles
@import './_normalize.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,700,700i&display=swap');

:root {
  --colorPrimaryBase: #000;
  --baseFont: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--baseFont);
  color: black;
  font-weight: 400;
  text-rendering: optimizelegibility;
  line-height: 1.5;
}